<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Про учителя</title>
</head>
<body>
    <h3> Учитель {{ teacher_name }} преподает в: </h3>
    <table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>КЛАСС</td>
        <td>ПРЕДМЕТ</td>
        <td></td>
    </tr>
    {% for row in rows %}
    <tr>
        <td></td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td></td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <div class="btn-group3" align="left">
        <button onclick="location.href='/';">Назад</button>
    </div>
</body>
</html>